<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <!--User Data-->
    <div class="left-container">
        <div class="image">
            <img src="" class="left-image" alt="">
        </div>

        <div class="left-form">
            <form onsubmit="return Client.formHandler(event)">
                <div class="city-label">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city">
                </div>
                <div class="date-label">
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date">
                </div>

                <div class="form-submit">
                    <button class="submit-btn">Discover</button>
                </div>
            </form>
        </div>
    </div>

    <!--User Output-->
    <div class="right-container">
        <div class="output">
            <div class="destination-data-1">
                <h4 id="days-rem"></h4>
                <p class="city-name"></p>
                <p class="temp"></p>
                <p class="max-temp"></p>
                <p class="min-temp"></p>
                <p class="weather"></p>
                <div class="location-image">
                    <img src="" class="right-image-1" alt="">
                </div> 
            </div>
            <div class="destination-data-2">
                <h4 id="days-rem"></h4>
                <p class="city-name"></p>
                <p class="temp"></p>
                <p class="max-temp"></p>
                <p class="min-temp"></p>
                <p class="weather"></p>
                <div class="location-image">
                    <img src="" class="right-image-2" alt="">
                </div> 
            </div>
            <div class="destination-data-3">
                <h4 id="days-rem"></h4>
                <p class="city-name"></p>
                <p class="temp"></p>
                <p class="max-temp"></p>
                <p class="min-temp"></p>
                <p class="weather"></p>
                <div class="location-image">
                    <img src="" class="right-image-3" alt="">
                </div> 
            </div>
        </div>
    </div>
</body>
</html>